* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    background: #f2f2f2;
  }
  /* ------------------------------------------------ */
  /* thanh điều hướng */
  nav {
    background: green;
    z-index: 1;
    opacity: 0.7;
    position: fixed;
    width: 100%;
  }
  nav:after {
    content: "";
    clear: both;
    display: table;
  }
  nav .logo {
    float: left;
    color: white;
    font-size: 30px;
    font-weight: 600px;
    padding: 20px;
    display: block;
    text-decoration: none;
  }
  nav ul {
    float: right;
    list-style: none;
    margin-right: 200px;
    position: relative;
    text-transform: uppercase;
    opacity: 1;
  }
  nav ul li {
    display: inline-block;
    background: green;
    margin: 0 15px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    padding: 8px 15px;
  }
  nav ul li a:hover {
    background: orange;
    border-radius: 20px;
    transition: 0.8s;
  }
  nav ul ul {
    position: absolute;
    top: 100px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.8s;
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-left: 0px;
    text-transform: none;
  }
  nav ul ul ul {
    border: none;
  }
  nav ul li:hover > ul {
    top: 70px;
    opacity: 0.9;
    visibility: unset;
  }
  nav ul ul li {
    position: relative;
    margin: 0px;
    width: 200px;
    float: none;
    display: list-item;
    border-bottom: 1px solid black;
  }
  nav ul ul li a {
    line-height: 50px;
  }
  nav ul ul li a:hover {
    color: rgb(29, 27, 27);
    background: orange;
  }
  nav ul ul ul li {
    position: relative;
    top: -50px;
    left: 200px;
  }
  #cart {
    color: white;
    text-decoration: none;
    background-color: green;
    font-size: 16px;
    padding: 8px 15px;
    border: none;
  }
  #cart:hover {
    background: orange;
    border-radius: 20px;
    transition: 0.8s;
  }
  /* ------------------------------------------------ */
  /* chi tiet mon hang su dung div */
  .description{
    padding-top: 100px;
  }
  .description .container {
    max-width: 1000px;
    margin:auto;
    padding: 15px;
    display: flex; 
    
  }
  .left{
    width: 45%;
    position: relative;
  } 
  .left img {
    width: 90%;
    height: 100%;  
  } 
  .right {
    width: 55%;
    margin-top: 60px;
  }
  .right .name{
    height: 10%;
    position: relative;
    top: -60px ;
  }
  .right .price{
    height: 15%;
    font-size: xx-large;
    color: orangered;
    position: relative;
    top: -40px;
  }
  .right .prd-des{
    height: 55%;
    position: relative;
    top: -30px;
  }
 .right .prd-des p {
    font-size:20px;	
  }
  .right .add-to-cart{
    height: 10%;
  }
  .right .add-to-cart .quantity{
    height: 45px; 
    font-size: 20px;
    width: 80px;
  }
  .right .add-to-cart .add{
    margin-left: 20px;
    margin-top: 12px;
    height: 50px;
    padding: 0 12px;
    cursor: pointer;
    border: none;
    background-color: green;
    color: white;
    font-size: medium;
    border-radius: 5px;
    nav-left: 20px; ;
  }
  .right .add-to-cart .add:hover{
    background-color: blue;
  }
  .right .add-to-cart .buy-now{
    margin-top: 12px;
    height: 50px;
    padding: 0 12px;
    cursor: pointer;
    border: none;
    background-color: orange;
    color: white;
    font-size: medium;
    border-radius: 5px;
  }
  .right .add-to-cart .buy-now:hover{
    background-color: red;
  }
  
  /* ------------------------------------------------ */
  /* các sản phẩm tương tự */
  .product .container {
    max-width: 1200px;
    margin: auto;
  }
  .product {
    text-align: center;
  }
  .product {
    background-image: url();
  }
  .product-items {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px;
    flex-wrap: wrap;
  }
  .item {
    width: 20%;
    background-color: white;
    padding: 12px;
    text-align: center;
    cursor: pointer;
  }
  .item img {
    width: 100%;
    margin-bottom: 20px;
    transition: 0.5s;
  }
  .item img:hover {
    transform: scale(1.2);
  }
  .item button {
    margin-top: 12px;
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    border: none;
  }
  .item button:hover {
    background-color: burlywood;
  }
  .item-text {
    display: flex;
    justify-content: space-between;
  }
  .product-items img {
    height: 200px;
  }
  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #bebebe;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 5px solid #fc0808;
    display: inline-block;
    color: rgb(15, 15, 15);
    border-radius: 20px;
  }
  
  /* -------------------------------------------------------------------------------------------- */
  /* phần giỏ hàng */
  /* modal */
  .modal {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(250, 245, 245);
    background-color: rgba(252, 245, 245, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:#0c0c0cea;
    background-clip: padding-box;
    border: 1px solid rgba(224, 219, 219, 0.747);
    border-radius: 0.7rem;
    outline: 0;
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
  }
  .modal-footer > :not(:first-child) {
    margin-left: 0.25rem;
  }
  
  .btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-secondary {
    color: #111111;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c9c7c7;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #ec0c0c;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(26, 25, 25);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* cart */
  /* cart */
  .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(245, 241, 241);
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(241, 238, 238);
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: rgb(241, 236, 236);
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: rgb(245, 237, 237);
    margin-left: 0.5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    margin-top: 0;
    color: rgb(20, 20, 20);
    background-color: #eb5757;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #cc4c4c;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56ccf2;
    background-color: #eee;
    color: rgb(22, 21, 21);
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid rgb(243, 237, 237);
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #f1eaea;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(241, 237, 237);
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: rgb(236, 231, 231);
    font-size: 1.1em;
  }
  .pad {
    padding-bottom: 80px;
  }
  @media only screen and (max-width:1080px){
    .logo{
      visibility: hidden;
      position: relative;
    }
    nav ul{
      position: absolute;
      top: 0;
      left: 90px;
      right: inherit;
      margin: auto;
    }
  }
  .modal-title {
    color: #ece5e5;
  }
  .btn .btn-secondary .close-footer {
    color: #111;
  }
  
